<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='mystyle.css')}}" rel="stylesheet">
</head>

<body>
    <!--Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <a href="{{url_for('index')}}"> Home</a>
        <a href="{{url_for('contact')}}" >Contact</a>  
        <a href="{{url_for('login')}}"> Log In </button>
        <a href="{{url_for('register')}}"> Register </button>             
    </nav>

<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron hero-spacer">
        <h1>Categories!</h1>
        <p>Select a category to browse books</p>
    </header>

    <hr>

    <!-- Title -->
        <header>Categories</header>
    
    <div class="row text-center">

        <div class="categories">
            <div class="thumbnail">
                <img src="https://shorturl.at/P42Dl" alt="">
                <div class="caption">
                    <h3>Sci-Fi</h3>
                    <p>
                        <a href="{{url_for('scifi')}}" class="btn btn-primary">Select</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="categories">
            <div class="thumbnail">
                <img src="https://shorturl.at/jlVof" alt="">
                <div class="caption">
                    <h3>Fantasy</h3>
                    <p>
                        <a href="{{url_for('fantasy')}}" class="btn btn-primary">Select</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="categories">
            <div class="thumbnail">
                <img src="https://shorturl.at/Y4Gzn" alt="">
                <div class="caption">
                    <h3>Horror</h3>
                    <p>
                        <a href="{{url_for('horror')}}" class="btn btn-primary">Select</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="categories">
            <div class="thumbnail">
                <img src="https://shorturl.at/mwJcR" alt="">
                <div class="caption">
                    <h3>Comics</h3>
                    <p>
                        <a href="{{url_for('comics')}}" class="btn btn-primary">Select</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Books 4U 2025</p>
        </div>
    </div>
</footer>

</div>
</html>