<!DOCTYPE html>
<hmtl lang="en">

<head>
<!--By Kenit Ruiz Reyes-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css')}}">
    <title>Bookstore</title>
</head>

<body>
    <!--Navigation bar-->
    <nav class="navbar">
        <a href="{{url_for('index')}}" >Home</a> 
        <a href="{{url_for('categories')}}"> Categories</a>
        <a href="{{url_for('login')}}"> Log In </button>
        <a href="{{url_for('register')}}"> Register </button>
    </nav>

    <header>
        <p1> Thank you for contacting us!</p1>
    </header>
</body>