!DOCTYPE <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css')}}">
</head>
<body>
    
    <div class="login">
        <img src="https://shorturl.at/i6Dp5" alt="">
        <h3>Welcome!</h3>
        <form action="/login" method="POST">
            <input type="text" id="username" name="username" required placeholder="Enter your username">
            <input type="password" id="password" name="password" required placeholder="Enter your password">
            <button type="submit">LOGIN</button>
            <a href="{{url_for('register')}}" class="btn btn-link">Register for new account</a>
        </form>
    </div>
</body>
</html>